name: Acquire Unity License

on:
  workflow_dispatch:

jobs:
  activation:
    runs-on: ubuntu-latest
    steps:
      # Request manual activation file
      - name: Request manual activation file
        id: getManualLicenseFile
        uses: game-ci/unity-request-activation-file@v2
        with:
          unityVersion: 2022.3.10f1
      
      # Upload artifact (Unity activation file)
      - name: Expose as artifact
        uses: actions/upload-artifact@v3
        with:
          name: Unity_v2022.x.alf
          path: ${{ steps.getManualLicenseFile.outputs.filePath }}
