name: Acquire Unity License

on:
  workflow_dispatch:

jobs:
  activation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Request manual activation file
        uses: game-ci/unity-request-activation-file@v2
      
      - name: Expose as artifact
        uses: actions/upload-artifact@v4
        with:
          name: Unity_v2022.x.alf
          path: ${{ steps.getManualLicenseFile.outputs.filePath }}
